
<template>
  <div id="map">
  <!--In the following div the HERE Map will render-->
    <div id="mapContainer" style="height:600px;width:100%" ref="hereMap"></div>
  </div>
</template>

<script>
export default {
    head:{
        script: [
            {
                src: "https://js.api.here.com/v3/3.1/mapsjs-core.js"
            },
            {
                src: "https://js.api.here.com/v3/3.1/mapsjs-service.js"
            },
            {
                src: "https://js.api.here.com/v3/3.1/mapsjs-ui.js"
            },
            {
                src: "https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"
            },
        ]
    },
    name: "HereMap",
    props: {
        center: Object,
        locations: Array,
        company: Array
    },
    data() {
        return {
        platform: null,
        apikey: "0YVUglorTvwwEMIdMcWINivjEH2tdylepTkXAgkAXqA",
        map: null,
        };
    },
    async mounted() {    
        // Initialize the platform object:
        const platform = new window.H.service.Platform({
        apikey: this.apikey
        });
        this.platform = platform;
        const mapContainer = this.$refs.hereMap;

        const H = window.H;

        // Obtain the default map types from the platform object
        let maptypes = this.platform.createDefaultLayers();
        this.maptypes = maptypes;

        // Instantiate (and display) a map object:
        let map = new H.Map(mapContainer, maptypes.vector.normal.map, {
        zoom: 10,
        center: this.center
        // center object { lat: 40.730610, lng: -73.935242 }
        });

        this.map = map;

        addEventListener("resize", () => map.getViewPort().resize());

        // add behavior control
        new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

        // add UI
        H.ui.UI.createDefault(map, maptypes);
        // End rendering the initial map
    },
    async fetch(){
        if(this.map){
            this.addLocations()
        }
    },
    methods:{
        addLocations(){
            this.map.removeObjects(this.map.getObjects());

            var pngIcon = new H.map.Icon("https://image.flaticon.com/icons/png/512/787/787535.png", { size: { w: 56, h: 56 } });
            // Create a marker using the previously instantiated icon:
            var marker = new H.map.Marker({ lat: parseFloat(this.company[0][1]), lng: this.company[0][2] }, { icon: pngIcon });
            // let marker = new H.map.Marker({lat:location[2], lng:location[3]})
            this.map.addObject(marker); 

            this.locations.forEach(location => {
                let marker = new H.map.Marker({lat:location[2], lng:location[3]})
                this.map.addObject(marker); 
            });
        },
    }
}
    </script>

    <style scoped>
    #map {
    width: 60vw;
    min-width: 360px;
    text-align: center;
    margin: 5% auto;
    background-color: #ccc;
    }
    </style>