<template>
  <div class="w-full">
    <header class="woovup-pink w-full flex flex-row p-6">
      <img src="woovup_logoText.svg" class="flex-grow-0 w-52" />
      <div class="flex-grow flex justify-center mr-52">
        <ul class="mt-8">
            <li class="inline-block ml-4 underline">Dashboard</li>
            <li class="inline-block"><NuxtLink to="/">Discover</NuxtLink></li>
        </ul>
      </div>
  </header>
    <div class="woovup-pink w-full flex flex-row p-6">
      <h1 class="flex-grow flex justify-center text-5xl font-bold">Dashboard</h1>
    </div>
    <div class="w-screen section-2 p-12">
        <button @click="$fetch">Refresh</button>
        <p v-if="$fetchState.pending">Fetching companies...</p>
        <p v-else-if="$fetchState.error">An error occurred :(</p>
        <div v-else>
          <table class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5">
            <div v-for="company in companies" v-bind:key="company.id" class="card p-5 rounded-lg bg-black text-white">
              <div class="mb-5 text-2xl font-bold">{{ company[10] }}</div>
               <div class="mb-5 text-xl font-bold">ID: {{ company[0] }}</div>
              <div class="mb-5 text-xl">{{ company[8] }}</div>
              <div class="inline-block">{{ company[3] }}</div>
              <div>{{ company[0][4] }}</div>
              <div class="inline-block">{{ company[5] }}</div>
              <div class="inline-block">{{ company[6] }}</div>
              <div class="inline-block">{{ company[7] }}</div>
            </div>
          </table>
        </div>
    </div>
  </div>
</template>
<script>
 export default {
    data() {
      return {
        companies:[],
      }
    },
    async fetch() {
      this.companies = []
      // Get companies from api
      await fetch(
          'http://127.0.0.1:8000/companies'
          ).then(res => res.json())
          .then((resJson) => {
              resJson.forEach(company => {
                  this.companies.push(company);
              });
          })
    },
    
  }
</script>
<style>

</style>