<template>
  <div class="w-full">
    <header class="woovup-pink w-full flex flex-row p-6">
      <img src="woovup_logoText.svg" class="flex-grow-0 w-52" />
      <div class="flex-grow flex justify-center">
        <ul class="mt-8">
          <li class="inline-block"><NuxtLink to="/dashboard">Dashboard</NuxtLink></li>
          <li class="inline-block ml-4 underline"><NuxtLink to="/">Discover</NuxtLink></li>
        </ul>
        <div class="grid grid-cols-3 gap-4 ml-52">
            <input v-model="companyId" placeholder="Company ID" type="text" required>
            <input v-model="streetMultiplier"  placeholder="Straat multiplier" type="number">
            <input v-model="districtMultiplier" placeholder="Wijk multiplier" type="number">
            <input v-model="cityMultiplier" placeholder="Stad/dorp multiplier" type="number">
            <input v-model="countyMultiplier" placeholder="Gemeente multiplier" type="number">
            <input v-model="stateMultiplier" placeholder="Provincie multiplier" type="number">
            <input v-model="industryMultiplier" placeholder="Industry multiplier" type="number">
            <input v-model="categoryMultiplier" placeholder="Category multiplier" type="number">
            <input v-model="hotspotMultiplier" placeholder="Hotspot multiplier" type="number">
        </div>
      </div>
  </header>
    <div class="woovup-pink w-full flex flex-row p-6 grid grid-cols-1">
      <HereMap ref="map" :center="center" :locations="locations" :company="company"/>
      <p v-if="$fetchState.pending">Fetching companies...</p>
      <p v-else-if="$fetchState.error">An error occurred :(</p>
      <div v-else class="card p-5 w-3/6 mx-auto rounded-lg bg-black text-white">
        <div class="mb-5 text-2xl font-bold">{{ company[0][10] }}</div>
        <div class="mb-5 text-xl">{{ company[0][3] }}</div>
        <div class="inline-block">{{ company[0][4] }}</div>
        <div>{{ company[0][5] }}</div>
        <div class="inline-block">{{ company[0][6] }}</div>
        <div class="inline-block">{{ company[0][7] }}</div>
        <div>{{ company[0][8] }}</div>
        <div class="mt-8 font-bold">ID: {{ company[0][0] }}</div>
      </div>
    </div>
    <div class="w-screen section-2 p-12">
        <button @click="$fetch">Refresh</button>
        <p v-if="$fetchState.pending">Fetching companies...</p>
        <p v-else-if="$fetchState.error">An error occurred :(</p>
        <div v-else>
          <table v-if="companies.length" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5">
            <div v-for="company in companies" v-bind:key="company.index" class="card p-5 rounded-lg bg-black text-white">
              <div class="mb-5 text-2xl font-bold">{{ company[2] }}</div>
              <div class="mb-5 text-xl">{{ company[3] }}</div>
              <div class="inline-block">{{ company[4] }}</div>
              <div>{{ company[4] }}</div>
              <div class="inline-block">{{ company[5] }}</div>
              <div class="inline-block">{{ company[6] }}</div>
              <div class="inline-block">{{ company[7] }}</div>
              <div>{{ company[8] }}</div>
              <div class="mt-8 font-bold">ID: {{ company[1] }}</div>
            </div>
          </table>
        </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import HereMap from '../components/HereMap.vue'

  export default {
    components: {
        HereMap,
      },
    data() {
      return {
        companyId: 7938,
        streetMultiplier: 1.6,
        districtMultiplier: 1.4,
        cityMultiplier: 1.2,
        countyMultiplier: 1.1,
        stateMultiplier: 1,
        industryMultiplier: 4.8,
        categoryMultiplier: 3,
        hotspotMultiplier: 4,
        companies:[],
        weights: [],
        show: false,
        center:{ 
          lat: 52.1845, 
          lng:  5.3255
        },
        locations:[], 
        company: []
      }
    },
    watch: {
      companyId(id){
        this.companyId = id;
      },
      streetMultiplier(id){
        this.streetMultiplier = id;
      },
      districtMultiplier(id){
        this.districtMultiplier = id;
      },
      cityMultiplier(id){
        this.cityMultiplier = id;
      },
      countyMultiplier(id){
        this.countyMultiplier = id;
      },
      stateMultiplier(id){
        this.stateMultiplier = id;
      },
      industryMultiplier(id){
        this.industryMultiplier = id;
      },
      categoryMultiplier(id){
        this.categoryMultiplier = id;
      },
      hotspotMultiplier(id){
        this.hotspotMultiplier = id;
      }
    },
    async fetch() { 
      this.companies = []
      // Get recommendations from api
      this.companies = await fetch(
        `http://127.0.0.1:8000/recommendations/?companyId=${this.companyId}&streetMultiplier=${this.streetMultiplier}&districtMultiplier=${this.districtMultiplier}&cityMultiplier=${this.cityMultiplier}&countyMultiplier=${this.countyMultiplier}&stateMultiplier=${this.stateMultiplier}&industryMultiplier=${this.industryMultiplier}&categoryMultiplier=${this.categoryMultiplier}&hotspotMultiplier=${this.hotspotMultiplier}`
      ).then(res => res.json());

      this.weights = await fetch(
        `http://127.0.0.1:8000/weights/${this.companyId}`
      ).then(res => res.json());

      this.locations = await fetch(
      `http://127.0.0.1:8000/recommendations/locations/${this.companyId}`
      ).then(res => res.json());
      console.log(this.locations)

      this.company = await fetch(
        `http://127.0.0.1:8000/company/${this.companyId}`
      ).then(res => res.json());
      let map = this.$refs.map;
      map.$fetch();

    },
  
  }
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
@apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
.woovup-pink {
  background: #F9F2FF;
}
.card {
  background:#537393;
}
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
